brotlipy==0.7.0
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==37.0.2
cycler==0.11.0
fonttools==4.33.3
greenlet==1.1.2
idna==3.3
kiwisolver==1.4.2
matplotlib==3.5.2
munkres==1.1.4
numpy==1.22.3
packaging==21.3
pandas==1.4.2
patsy==0.5.2
Pillow==9.1.1
pip==22.0.4
psycopg2==2.9.3
pycparser==2.21
pyOpenSSL==22.0.0
pyparsing==3.0.9
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2022.1
requests==2.27.1
scipy==1.8.1
seaborn==0.11.2
setuptools==62.3.1
six==1.16.0
SQLAlchemy==1.4.36
statsmodels==0.13.2
tornado==6.1
unicodedata2==14.0.0
urllib3==1.26.9
wheel==0.37.1
xmltodict==0.13.0
